In [1]:
pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting pyarrow
  Downloading pyarrow-11.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.9/34.9 MB 37.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pyarrow) (1.22.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-11.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import boto3
import botocore
import pandas as pd
from IPython.display import display, Markdown

In [3]:
s3 = boto3.client('s3')
s3_resource = boto3.resource('s3')

In [4]:
def create_bucket(bucket):
    import logging

    try:
        s3.create_bucket(Bucket=bucket)
    except botocore.exceptions.ClientError as e:
        logging.error(e)
        return 'Bucket ' + bucket + ' could not be created.'
    return 'Created or already exists ' + bucket + ' bucket.'

In [5]:
create_bucket('nyctlc-cs653-5181')

'Created or already exists nyctlc-cs653-5181 bucket.'

In [6]:
def list_buckets(match=''):
    response = s3.list_buckets()
    if match:
        print(f'Existing buckets containing "{match}" string:')
    else:
        print('All existing buckets:')
    for bucket in response['Buckets']:
        if match:
            if match in bucket["Name"]:
                print(f'  {bucket["Name"]}')

In [7]:
list_buckets(match='open')

Existing buckets containing "open" string:

In [8]:
def list_bucket_contents(bucket, match='', size_mb=0):
    bucket_resource = s3_resource.Bucket(bucket)
    total_size_gb = 0
    total_files = 0
    match_size_gb = 0
    match_files = 0
    for key in bucket_resource.objects.all():
        key_size_mb = key.size/1024/1024
        total_size_gb += key_size_mb
        total_files += 1
        list_check = False
        if not match:
            list_check = True
        elif match in key.key:
            list_check = True
        if list_check and not size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')
        elif list_check and key_size_mb <= size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')

    if match:
        print(f'Matched file size is {match_size_gb/1024:3.1f}GB with {match_files} files')            
    
    print(f'Bucket {bucket} total size is {total_size_gb/1024:3.1f}GB with {total_files} files')

In [9]:
list_bucket_contents(bucket='nyc-tlc', match='2017', size_mb=250)

csv_backup/green_tripdata_2017-01.csv ( 91MB)
csv_backup/green_tripdata_2017-02.csv ( 87MB)
csv_backup/green_tripdata_2017-03.csv ( 99MB)
csv_backup/green_tripdata_2017-04.csv ( 92MB)
csv_backup/green_tripdata_2017-05.csv ( 91MB)
csv_backup/green_tripdata_2017-06.csv ( 83MB)
csv_backup/green_tripdata_2017-07.csv ( 78MB)
csv_backup/green_tripdata_2017-08.csv ( 74MB)
csv_backup/green_tripdata_2017-09.csv ( 75MB)
csv_backup/green_tripdata_2017-10.csv ( 79MB)
csv_backup/green_tripdata_2017-11.csv ( 75MB)
csv_backup/green_tripdata_2017-12.csv ( 77MB)
trip data/fhv_tripdata_2017-01.parquet ( 55MB)
trip data/fhv_tripdata_2017-02.parquet ( 54MB)
trip data/fhv_tripdata_2017-03.parquet ( 64MB)
trip data/fhv_tripdata_2017-04.parquet ( 60MB)
trip data/fhv_tripdata_2017-05.parquet ( 64MB)
trip data/fhv_tripdata_2017-06.parquet (134MB)
trip data/fhv_tripdata_2017-07.parquet (137MB)
trip data/fhv_tripdata_2017-08.parquet (139MB)
trip data/fhv_tripdata_2017-09.parquet (144MB)
trip data/fhv_tripdata_2017-10.parquet (155MB)
trip data/fhv_tripdata_2017-11.parquet (156MB)
trip data/fhv_tripdata_2017-12.parquet (173MB)
trip data/green_tripdata_2017-01.parquet ( 16MB)
trip data/green_tripdata_2017-02.parquet ( 15MB)
trip data/green_tripdata_2017-03.parquet ( 17MB)
trip data/green_tripdata_2017-04.parquet ( 16MB)
trip data/green_tripdata_2017-05.parquet ( 16MB)
trip data/green_tripdata_2017-06.parquet ( 15MB)
trip data/green_tripdata_2017-07.parquet ( 14MB)
trip data/green_tripdata_2017-08.parquet ( 13MB)
trip data/green_tripdata_2017-09.parquet ( 13MB)
trip data/green_tripdata_2017-10.parquet ( 14MB)
trip data/green_tripdata_2017-11.parquet ( 13MB)
trip data/green_tripdata_2017-12.parquet ( 14MB)
trip data/yellow_tripdata_2017-01.parquet (129MB)
trip data/yellow_tripdata_2017-02.parquet (122MB)
trip data/yellow_tripdata_2017-03.parquet (138MB)
trip data/yellow_tripdata_2017-04.parquet (135MB)
trip data/yellow_tripdata_2017-05.parquet (136MB)
trip data/yellow_tripdata_2017-06.parquet (129MB)
trip data/yellow_tripdata_2017-07.parquet (115MB)
trip data/yellow_tripdata_2017-08.parquet (113MB)
trip data/yellow_tripdata_2017-09.parquet (121MB)
trip data/yellow_tripdata_2017-10.parquet (130MB)
trip data/yellow_tripdata_2017-11.parquet (125MB)
trip data/yellow_tripdata_2017-12.parquet (128MB)
Matched file size is 3.9GB with 48 files
Bucket nyc-tlc total size is 377.3GB with 823 files

In [10]:
def preview(bucket, key):
    data_source = {
            'Bucket': bucket,
            'Key': key
        }
    # Generate the URL to get Key from Bucket
    url = s3.generate_presigned_url(
        ClientMethod = 'get_object',
        Params = data_source
    )

    data = pd.read_parquet(url, engine='pyarrow')
    return data

In [11]:
df = preview(bucket='nyc-tlc', key=f'trip data/yellow_tripdata_2017-01.parquet')
df.head(6)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2017-01-01 00:32:05,2017-01-01 00:37:48,1,1.2,1,N,140,236,2,6.5,0.5,0.5,0.0,0.0,0.3,7.8,None,None
1,1,2017-01-01 00:43:25,2017-01-01 00:47:42,2,0.7,1,N,237,140,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,None,None
2,1,2017-01-01 00:49:10,2017-01-01 00:53:53,2,0.8,1,N,140,237,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,None,None
3,1,2017-01-01 00:36:42,2017-01-01 00:41:09,1,1.1,1,N,41,42,2,6.0,0.5,0.5,0.0,0.0,0.3,7.3,None,None
4,1,2017-01-01 00:07:41,2017-01-01 00:18:16,1,3.0,1,N,48,263,2,11.0,0.5,0.5,0.0,0.0,0.3,12.3,None,None
5,1,2017-01-01 00:20:52,2017-01-01 00:24:59,2,0.7,1,N,236,262,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,None,None

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2017-01-01 00:32:05,2017-01-01 00:37:48,1,1.2,1,N,140,236,2,6.5,0.5,0.5,0.0,0.0,0.3,7.8,None,None
1,1,2017-01-01 00:43:25,2017-01-01 00:47:42,2,0.7,1,N,237,140,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,None,None
2,1,2017-01-01 00:49:10,2017-01-01 00:53:53,2,0.8,1,N,140,237,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,None,None
3,1,2017-01-01 00:36:42,2017-01-01 00:41:09,1,1.1,1,N,41,42,2,6.0,0.5,0.5,0.0,0.0,0.3,7.3,None,None
4,1,2017-01-01 00:07:41,2017-01-01 00:18:16,1,3.0,1,N,48,263,2,11.0,0.5,0.5,0.0,0.0,0.3,12.3,None,None

In [13]:
df.shape

(9710820, 19)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9710820 entries, 0 to 9710819
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   object
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(8), int64(6), object(3)
memory usage: 1.4+ GB

In [15]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06,9.710820e+06
mean,1.547111e+00,1.629222e+00,2.813879e+00,1.039580e+00,1.641076e+02,1.617635e+02,1.337539e+00,1.237414e+01,3.234837e-01,4.975229e-01,1.751259e+00,2.764088e-01,2.996798e-01,1.552662e+01
std,4.977756e-01,1.272268e+00,3.611637e+00,5.058933e-01,6.665001e+01,7.067210e+01,4.913687e-01,2.652220e+02,4.425521e-01,4.881261e-02,2.571219e+00,1.638808e+00,1.342100e-02,2.653384e+02
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-3.500000e+02,-5.520000e+01,-5.000000e-01,-4.100000e+01,-1.500000e+01,-3.000000e-01,-3.503000e+02
25%,1.000000e+00,1.000000e+00,9.500000e-01,1.000000e+00,1.140000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00
50%,2.000000e+00,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.300000e+00,0.000000e+00,3.000000e-01,1.130000e+01
75%,2.000000e+00,2.000000e+00,2.900000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.260000e+00,0.000000e+00,3.000000e-01,1.673000e+01
max,2.000000e+00,9.000000e+00,2.647100e+02,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,6.259008e+05,5.554000e+01,5.650000e+01,9.999900e+02,9.110800e+02,3.000000e-01,6.259016e+05

In [16]:
def key_exists(bucket, key):
    try:
        s3_resource.Object(bucket, key).load()
    except botocore.exceptions.ClientError as e:
        if e.response['Error']['Code'] == "404":
            # The key does not exist.
            return(False)
        else:
            # Something else has gone wrong.
            raise
    else:
        # The key does exist.
        return(True)

def copy_among_buckets(from_bucket, from_key, to_bucket, to_key):
    if not key_exists(to_bucket, to_key):
        s3_resource.meta.client.copy({'Bucket': from_bucket, 'Key': from_key}, 
                                        to_bucket, to_key)        
        print(f'File {to_key} saved to S3 bucket {to_bucket}')
    else:
        print(f'File {to_key} already exists in S3 bucket {to_bucket}')

In [30]:
for i in range(1,6):
    month_str = f'0{i}' if i < 10 else f'{i}'
    from_key = f'trip data/yellow_tripdata_2017-{month_str}.parquet'
    to_key = from_key
    copy_among_buckets(from_bucket='nyc-tlc', from_key=from_key,
                      to_bucket='nyctlc-cs653-5181', to_key=f'yellow_tripdata_2017-{month_str}.parquet')

File yellow_tripdata_2017-01.parquet already exists in S3 bucket nyctlc-cs653-5181
File yellow_tripdata_2017-02.parquet already exists in S3 bucket nyctlc-cs653-5181
File yellow_tripdata_2017-03.parquet already exists in S3 bucket nyctlc-cs653-5181
File yellow_tripdata_2017-04.parquet already exists in S3 bucket nyctlc-cs653-5181
File yellow_tripdata_2017-05.parquet already exists in S3 bucket nyctlc-cs653-5181

In [18]:
import boto3
s3 = boto3.client('s3')
total = 0
for i in range(1,6):
    resp = s3.select_object_content(
        Bucket = 'nyctlc-cs653-5181',
        Key = 'yellow_tripdata_2017-01.parquet',
        Expression = f'SELECT COUNT(payment_type) FROM s3object s WHERE payment_type={i}',
        ExpressionType='SQL',  
        InputSerialization={'Parquet':{}},
        OutputSerialization={'CSV':{}},
    )
    for event in resp['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            total = total + int(records)
            print(f'จำนวน yellow taxi ที่มี payment_type={i} เท่ากับ {records}')
print(f'มี yellow taxi รวมทั้งสิ้น {total} คัน')

จำนวน yellow taxi ที่มี payment_type=1 เท่ากับ 6506189

จำนวน yellow taxi ที่มี payment_type=2 เท่ากับ 3144926

จำนวน yellow taxi ที่มี payment_type=3 เท่ากับ 46257

จำนวน yellow taxi ที่มี payment_type=4 เท่ากับ 13447

จำนวน yellow taxi ที่มี payment_type=5 เท่ากับ 1

มี yellow taxi รวมทั้งสิ้น 9710820 คัน

In [19]:
import boto3
s3 = boto3.client('s3')
total = 0
for i in range(1,6):
    resp = s3.select_object_content(
        Bucket = 'nyctlc-cs653-5181',
        Key = 'yellow_tripdata_2017-01.parquet',
        Expression = f'SELECT COUNT(PULocationID) FROM s3object s WHERE PULocationID={i}',
        ExpressionType='SQL',  
        InputSerialization={'Parquet':{}},
        OutputSerialization={'CSV':{}},
    )
    for event in resp['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            total = total + int(records)
            print(f'จำนวน yellow taxi ที่มี PULocationID={i} เท่ากับ {records}')
print(f'มี yellow taxi รวมทั้งสิ้น {total} คัน')

จำนวน yellow taxi ที่มี PULocationID=1 เท่ากับ 696

จำนวน yellow taxi ที่มี PULocationID=2 เท่ากับ 7

จำนวน yellow taxi ที่มี PULocationID=3 เท่ากับ 32

จำนวน yellow taxi ที่มี PULocationID=4 เท่ากับ 27602

จำนวน yellow taxi ที่มี PULocationID=5 เท่ากับ 2

มี yellow taxi รวมทั้งสิ้น 28339 คัน

In [20]:
import numpy as np
yellow_jan_PULocationID = df['PULocationID'].unique()
np.sort(yellow_jan_PULocationID)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
        68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
        81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98, 100, 101, 102, 105, 106, 107, 108, 109,
       110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,
       123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148,
       149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161,
       162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174,
       175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187,
       188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 200, 201,
       202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214,
       215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227,
       228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240,
       241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253,
       254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265])

In [21]:
def cal_total_fare(id):
    resp = s3.select_object_content(
        Bucket = 'nyctlc-cs653-5181',
        Key = 'yellow_tripdata_2017-01.parquet',
        Expression = f'SELECT SUM(total_amount) FROM s3object s WHERE PULocation={id}',
        ExpressionType='SQL',  
        InputSerialization={'Parquet':{}},
        OutputSerialization={'CSV':{}})
    for event in resp['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            try:
                isinstance(float(records),float)
                return float(records)
            except:
                return None

In [22]:
import numpy as np
import pandas as pd



yellow_jan_PULocationID = df['PULocationID'].unique()
np.sort(yellow_jan_PULocationID)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
        68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
        81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98, 100, 101, 102, 105, 106, 107, 108, 109,
       110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,
       123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135,
       136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148,
       149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161,
       162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174,
       175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187,
       188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 200, 201,
       202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214,
       215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227,
       228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240,
       241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253,
       254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265])

In [91]:
#สร้าง list ของ payment_type เกือบจำนวนรอบวิ่งในทั้ง 5 เดือน
type1 = []
type2 = []
type3 = []
type4 = []
type5 = []
sum_rides = []

In [31]:
import boto3

s3 = boto3.client('s3')

def cal_total_fare( id ):
    resp = s3.select_object_content(
        Bucket='nyctlc-cs653-5181',
        Key='yellow_tripdata_2017-01.parquet',
        ExpressionType='SQL',
        Expression=f"SELECT SUM(total_amount) FROM s3object s WHERE PULocationID={ id }",
        InputSerialization={'Parquet': {}},
        OutputSerialization = {'CSV': {}},
    )
    for event in resp['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            
            try: 
                isinstance(float(records), float) 
                return float(records)
            except:
                return None
        
def cal_avg_passenger_count( id ):
    resp = s3.select_object_content(
        Bucket='nyctlc-cs653-5181',
        Key='yellow_tripdata_2017-01.parquet',
        ExpressionType='SQL',
        Expression=f"SELECT AVG(passenger_count) FROM s3object s WHERE PULocationID={ id }",
        InputSerialization={'Parquet': {}},
        OutputSerialization = {'CSV': {}},
    )
    for event in resp['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')

            try: 
                isinstance(float(records), float) 
                return float(records)
            except:
                return None

pickUpLocationId = []
total_fare_list = []
avg_passenger_list = []
        
for i in range(1,266):
    resp = s3.select_object_content(
        Bucket='nyctlc-cs653-5181',
        Key='yellow_tripdata_2017-01.parquet',
        ExpressionType='SQL',

        Expression=f"SELECT COUNT(PULocationID) FROM s3object s WHERE PULocationID={i}",

        InputSerialization={'Parquet': {}},
        OutputSerialization = {'CSV': {}},
    )

    for event in resp['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            
            pickUpLocationId.append( i )
            print(f"จุดรับผู้โดยสารจุดที่ {i} มีจำนวน rides ของ yellow taxi เท่ากับ {int(records)} ครั้ง")
            
            total_fare = cal_total_fare( i )
            if isinstance(total_fare, float):
                total_fare = float("{:.2f}".format(total_fare))
                total_fare_list.append(total_fare)
                print(f"ค่าโดยสารรวม {total_fare} บาท")
            else:
                total_fare = 0.0
                total_fare_list.append(total_fare)
                print(f"ค่าโดยสารรวม Not Float")
            
            
            avg_passenger = cal_avg_passenger_count( i )
            if isinstance(avg_passenger, float):
                avg_passenger = float("{:.2f}".format(avg_passenger))
                avg_passenger_list.append(avg_passenger)
                print(f"ค่าโดยสารรวม {avg_passenger} บาท")
            else:
                avg_passenger = 0.0
                avg_passenger_list.append(total_fare)
                print(f"ค่าโดยสารรวม Not Float")
            print()

จุดรับผู้โดยสารจุดที่ 1 มีจำนวน rides ของ yellow taxi เท่ากับ 696 ครั้ง
ค่าโดยสารรวม 59188.54 บาท
ค่าโดยสารรวม 1.4 บาท

จุดรับผู้โดยสารจุดที่ 2 มีจำนวน rides ของ yellow taxi เท่ากับ 7 ครั้ง
ค่าโดยสารรวม 330.26 บาท
ค่าโดยสารรวม 1.57 บาท

จุดรับผู้โดยสารจุดที่ 3 มีจำนวน rides ของ yellow taxi เท่ากับ 32 ครั้ง
ค่าโดยสารรวม 655.01 บาท
ค่าโดยสารรวม 1.66 บาท

จุดรับผู้โดยสารจุดที่ 4 มีจำนวน rides ของ yellow taxi เท่ากับ 27602 ครั้ง
ค่าโดยสารรวม 392919.74 บาท
ค่าโดยสารรวม 1.65 บาท

จุดรับผู้โดยสารจุดที่ 5 มีจำนวน rides ของ yellow taxi เท่ากับ 2 ครั้ง
ค่าโดยสารรวม 69.6 บาท
ค่าโดยสารรวม 1.5 บาท

จุดรับผู้โดยสารจุดที่ 6 มีจำนวน rides ของ yellow taxi เท่ากับ 38 ครั้ง
ค่าโดยสารรวม 1372.88 บาท
ค่าโดยสารรวม 1.13 บาท

จุดรับผู้โดยสารจุดที่ 7 มีจำนวน rides ของ yellow taxi เท่ากับ 17462 ครั้ง
ค่าโดยสารรวม 240538.71 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 8 มีจำนวน rides ของ yellow taxi เท่ากับ 125 ครั้ง
ค่าโดยสารรวม 4545.15 บาท
ค่าโดยสารรวม 1.66 บาท

จุดรับผู้โดยสารจุดที่ 9 มีจำนวน rides ของ yellow taxi เท่ากับ 25 ครั้ง
ค่าโดยสารรวม 855.06 บาท
ค่าโดยสารรวม 1.24 บาท

จุดรับผู้โดยสารจุดที่ 10 มีจำนวน rides ของ yellow taxi เท่ากับ 1458 ครั้ง
ค่าโดยสารรวม 94827.29 บาท
ค่าโดยสารรวม 1.62 บาท

จุดรับผู้โดยสารจุดที่ 11 มีจำนวน rides ของ yellow taxi เท่ากับ 50 ครั้ง
ค่าโดยสารรวม 2247.23 บาท
ค่าโดยสารรวม 1.4 บาท

จุดรับผู้โดยสารจุดที่ 12 มีจำนวน rides ของ yellow taxi เท่ากับ 3062 ครั้ง
ค่าโดยสารรวม 58496.1 บาท
ค่าโดยสารรวม 1.76 บาท

จุดรับผู้โดยสารจุดที่ 13 มีจำนวน rides ของ yellow taxi เท่ากับ 87028 ครั้ง
ค่าโดยสารรวม 1629016.97 บาท
ค่าโดยสารรวม 1.64 บาท

จุดรับผู้โดยสารจุดที่ 14 มีจำนวน rides ของ yellow taxi เท่ากับ 359 ครั้ง
ค่าโดยสารรวม 8466.35 บาท
ค่าโดยสารรวม 1.57 บาท

จุดรับผู้โดยสารจุดที่ 15 มีจำนวน rides ของ yellow taxi เท่ากับ 21 ครั้ง
ค่าโดยสารรวม 647.84 บาท
ค่าโดยสารรวม 1.19 บาท

จุดรับผู้โดยสารจุดที่ 16 มีจำนวน rides ของ yellow taxi เท่ากับ 70 ครั้ง
ค่าโดยสารรวม 1848.63 บาท
ค่าโดยสารรวม 1.4 บาท

จุดรับผู้โดยสารจุดที่ 17 มีจำนวน rides ของ yellow taxi เท่ากับ 2874 ครั้ง
ค่าโดยสารรวม 39764.74 บาท
ค่าโดยสารรวม 1.58 บาท

จุดรับผู้โดยสารจุดที่ 18 มีจำนวน rides ของ yellow taxi เท่ากับ 131 ครั้ง
ค่าโดยสารรวม 2317.04 บาท
ค่าโดยสารรวม 1.72 บาท

จุดรับผู้โดยสารจุดที่ 19 มีจำนวน rides ของ yellow taxi เท่ากับ 51 ครั้ง
ค่าโดยสารรวม 821.99 บาท
ค่าโดยสารรวม 1.39 บาท

จุดรับผู้โดยสารจุดที่ 20 มีจำนวน rides ของ yellow taxi เท่ากับ 66 ครั้ง
ค่าโดยสารรวม 1229.06 บาท
ค่าโดยสารรวม 1.52 บาท

จุดรับผู้โดยสารจุดที่ 21 มีจำนวน rides ของ yellow taxi เท่ากับ 73 ครั้ง
ค่าโดยสารรวม 2229.25 บาท
ค่าโดยสารรวม 1.66 บาท

จุดรับผู้โดยสารจุดที่ 22 มีจำนวน rides ของ yellow taxi เท่ากับ 90 ครั้ง
ค่าโดยสารรวม 3408.9 บาท
ค่าโดยสารรวม 1.49 บาท

จุดรับผู้โดยสารจุดที่ 23 มีจำนวน rides ของ yellow taxi เท่ากับ 10 ครั้ง
ค่าโดยสารรวม 388.98 บาท
ค่าโดยสารรวม 1.1 บาท

จุดรับผู้โดยสารจุดที่ 24 มีจำนวน rides ของ yellow taxi เท่ากับ 28072 ครั้ง
ค่าโดยสารรวม 377194.0 บาท
ค่าโดยสารรวม 1.64 บาท

จุดรับผู้โดยสารจุดที่ 25 มีจำนวน rides ของ yellow taxi เท่ากับ 9719 ครั้ง
ค่าโดยสารรวม 150191.88 บาท
ค่าโดยสารรวม 1.52 บาท

จุดรับผู้โดยสารจุดที่ 26 มีจำนวน rides ของ yellow taxi เท่ากับ 195 ครั้ง
ค่าโดยสารรวม 2975.47 บาท
ค่าโดยสารรวม 1.37 บาท

จุดรับผู้โดยสารจุดที่ 27 มีจำนวน rides ของ yellow taxi เท่ากับ 0 ครั้ง
ค่าโดยสารรวม Not Float
ค่าโดยสารรวม Not Float

จุดรับผู้โดยสารจุดที่ 28 มีจำนวน rides ของ yellow taxi เท่ากับ 647 ครั้ง
ค่าโดยสารรวม 30078.54 บาท
ค่าโดยสารรวม 1.57 บาท

จุดรับผู้โดยสารจุดที่ 29 มีจำนวน rides ของ yellow taxi เท่ากับ 243 ครั้ง
ค่าโดยสารรวม 5819.22 บาท
ค่าโดยสารรวม 2.29 บาท

จุดรับผู้โดยสารจุดที่ 30 มีจำนวน rides ของ yellow taxi เท่ากับ 2 ครั้ง
ค่าโดยสารรวม 323.95 บาท
ค่าโดยสารรวม 1.0 บาท

จุดรับผู้โดยสารจุดที่ 31 มีจำนวน rides ของ yellow taxi เท่ากับ 22 ครั้ง
ค่าโดยสารรวม 678.43 บาท
ค่าโดยสารรวม 1.5 บาท

จุดรับผู้โดยสารจุดที่ 32 มีจำนวน rides ของ yellow taxi เท่ากับ 25 ครั้ง
ค่าโดยสารรวม 449.03 บาท
ค่าโดยสารรวม 1.92 บาท

จุดรับผู้โดยสารจุดที่ 33 มีจำนวน rides ของ yellow taxi เท่ากับ 10141 ครั้ง
ค่าโดยสารรวม 183270.54 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 34 มีจำนวน rides ของ yellow taxi เท่ากับ 288 ครั้ง
ค่าโดยสารรวม 4533.37 บาท
ค่าโดยสารรวม 1.59 บาท

จุดรับผู้โดยสารจุดที่ 35 มีจำนวน rides ของ yellow taxi เท่ากับ 153 ครั้ง
ค่าโดยสารรวม 3454.16 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 36 มีจำนวน rides ของ yellow taxi เท่ากับ 1772 ครั้ง
ค่าโดยสารรวม 29528.26 บาท
ค่าโดยสารรวม 1.69 บาท

จุดรับผู้โดยสารจุดที่ 37 มีจำนวน rides ของ yellow taxi เท่ากับ 3141 ครั้ง
ค่าโดยสารรวม 47369.99 บาท
ค่าโดยสารรวม 1.7 บาท

จุดรับผู้โดยสารจุดที่ 38 มีจำนวน rides ของ yellow taxi เท่ากับ 18 ครั้ง
ค่าโดยสารรวม 569.6 บาท
ค่าโดยสารรวม 1.72 บาท

จุดรับผู้โดยสารจุดที่ 39 มีจำนวน rides ของ yellow taxi เท่ากับ 180 ครั้ง
ค่าโดยสารรวม 4339.31 บาท
ค่าโดยสารรวม 1.46 บาท

จุดรับผู้โดยสารจุดที่ 40 มีจำนวน rides ของ yellow taxi เท่ากับ 5847 ครั้ง
ค่าโดยสารรวม 99095.5 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 41 มีจำนวน rides ของ yellow taxi เท่ากับ 32519 ครั้ง
ค่าโดยสารรวม 408641.53 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 42 มีจำนวน rides ของ yellow taxi เท่ากับ 14884 ครั้ง
ค่าโดยสารรวม 188973.5 บาท
ค่าโดยสารรวม 1.6 บาท

จุดรับผู้โดยสารจุดที่ 43 มีจำนวน rides ของ yellow taxi เท่ากับ 118941 ครั้ง
ค่าโดยสารรวม 1531658.2 บาท
ค่าโดยสารรวม 1.72 บาท

จุดรับผู้โดยสารจุดที่ 44 มีจำนวน rides ของ yellow taxi เท่ากับ 0 ครั้ง
ค่าโดยสารรวม Not Float
ค่าโดยสารรวม Not Float

จุดรับผู้โดยสารจุดที่ 45 มีจำนวน rides ของ yellow taxi เท่ากับ 22017 ครั้ง
ค่าโดยสารรวม 350984.35 บาท
ค่าโดยสารรวม 1.64 บาท

จุดรับผู้โดยสารจุดที่ 46 มีจำนวน rides ของ yellow taxi เท่ากับ 3 ครั้ง
ค่าโดยสารรวม 101.4 บาท
ค่าโดยสารรวม 1.0 บาท

จุดรับผู้โดยสารจุดที่ 47 มีจำนวน rides ของ yellow taxi เท่ากับ 120 ครั้ง
ค่าโดยสารรวม 1813.68 บาท
ค่าโดยสารรวม 1.46 บาท

จุดรับผู้โดยสารจุดที่ 48 มีจำนวน rides ของ yellow taxi เท่ากับ 297434 ครั้ง
ค่าโดยสารรวม 4007370.97 บาท
ค่าโดยสารรวม 1.64 บาท

จุดรับผู้โดยสารจุดที่ 49 มีจำนวน rides ของ yellow taxi เท่ากับ 3673 ครั้ง
ค่าโดยสารรวม 52445.33 บาท
ค่าโดยสารรวม 1.58 บาท

จุดรับผู้โดยสารจุดที่ 50 มีจำนวน rides ของ yellow taxi เท่ากับ 86815 ครั้ง
ค่าโดยสารรวม 1200949.84 บาท
ค่าโดยสารรวม 1.65 บาท

จุดรับผู้โดยสารจุดที่ 51 มีจำนวน rides ของ yellow taxi เท่ากับ 61 ครั้ง
ค่าโดยสารรวม 1408.83 บาท
ค่าโดยสารรวม 1.26 บาท

จุดรับผู้โดยสารจุดที่ 52 มีจำนวน rides ของ yellow taxi เท่ากับ 5901 ครั้ง
ค่าโดยสารรวม 105274.31 บาท
ค่าโดยสารรวม 1.65 บาท

จุดรับผู้โดยสารจุดที่ 53 มีจำนวน rides ของ yellow taxi เท่ากับ 69 ครั้ง
ค่าโดยสารรวม 1454.46 บาท
ค่าโดยสารรวม 1.75 บาท

จุดรับผู้โดยสารจุดที่ 54 มีจำนวน rides ของ yellow taxi เท่ากับ 517 ครั้ง
ค่าโดยสารรวม 9312.67 บาท
ค่าโดยสารรวม 1.67 บาท

จุดรับผู้โดยสารจุดที่ 55 มีจำนวน rides ของ yellow taxi เท่ากับ 108 ครั้ง
ค่าโดยสารรวม 3042.6 บาท
ค่าโดยสารรวม 1.83 บาท

จุดรับผู้โดยสารจุดที่ 56 มีจำนวน rides ของ yellow taxi เท่ากับ 470 ครั้ง
ค่าโดยสารรวม 12319.94 บาท
ค่าโดยสารรวม 1.53 บาท

จุดรับผู้โดยสารจุดที่ 57 มีจำนวน rides ของ yellow taxi เท่ากับ 59 ครั้ง
ค่าโดยสารรวม 1034.98 บาท
ค่าโดยสารรวม 1.31 บาท

จุดรับผู้โดยสารจุดที่ 58 มีจำนวน rides ของ yellow taxi เท่ากับ 3 ครั้ง
ค่าโดยสารรวม 101.89 บาท
ค่าโดยสารรวม 1.0 บาท

จุดรับผู้โดยสารจุดที่ 59 มีจำนวน rides ของ yellow taxi เท่ากับ 3 ครั้ง
ค่าโดยสารรวม 49.35 บาท
ค่าโดยสารรวม 1.0 บาท

จุดรับผู้โดยสารจุดที่ 60 มีจำนวน rides ของ yellow taxi เท่ากับ 91 ครั้ง
ค่าโดยสารรวม 1521.1 บาท
ค่าโดยสารรวม 1.47 บาท

จุดรับผู้โดยสารจุดที่ 61 มีจำนวน rides ของ yellow taxi เท่ากับ 2325 ครั้ง
ค่าโดยสารรวม 36238.78 บาท
ค่าโดยสารรวม 1.56 บาท

จุดรับผู้โดยสารจุดที่ 62 มีจำนวน rides ของ yellow taxi เท่ากับ 453 ครั้ง
ค่าโดยสารรวม 7547.2 บาท
ค่าโดยสารรวม 1.57 บาท

จุดรับผู้โดยสารจุดที่ 63 มีจำนวน rides ของ yellow taxi เท่ากับ 362 ครั้ง
ค่าโดยสารรวม 7048.43 บาท
ค่าโดยสารรวม 1.15 บาท

จุดรับผู้โดยสารจุดที่ 64 มีจำนวน rides ของ yellow taxi เท่ากับ 29 ครั้ง
ค่าโดยสารรวม 1016.4 บาท
ค่าโดยสารรวม 0.97 บาท

จุดรับผู้โดยสารจุดที่ 65 มีจำนวน rides ของ yellow taxi เท่ากับ 12237 ครั้ง
ค่าโดยสารรวม 212241.63 บาท
ค่าโดยสารรวม 1.59 บาท

จุดรับผู้โดยสารจุดที่ 66 มีจำนวน rides ของ yellow taxi เท่ากับ 3458 ครั้ง
ค่าโดยสารรวม 62292.92 บาท
ค่าโดยสารรวม 1.68 บาท

จุดรับผู้โดยสารจุดที่ 67 มีจำนวน rides ของ yellow taxi เท่ากับ 59 ครั้ง
ค่าโดยสารรวม 1146.47 บาท
ค่าโดยสารรวม 1.37 บาท

จุดรับผู้โดยสารจุดที่ 68 มีจำนวน rides ของ yellow taxi เท่ากับ 224568 ครั้ง
ค่าโดยสารรวม 3095397.1 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 69 มีจำนวน rides ของ yellow taxi เท่ากับ 455 ครั้ง
ค่าโดยสารรวม 6405.12 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 70 มีจำนวน rides ของ yellow taxi เท่ากับ 1384 ครั้ง
ค่าโดยสารรวม 49295.77 บาท
ค่าโดยสารรวม 1.54 บาท

จุดรับผู้โดยสารจุดที่ 71 มีจำนวน rides ของ yellow taxi เท่ากับ 113 ครั้ง
ค่าโดยสารรวม 1860.49 บาท
ค่าโดยสารรวม 1.52 บาท

จุดรับผู้โดยสารจุดที่ 72 มีจำนวน rides ของ yellow taxi เท่ากับ 128 ครั้ง
ค่าโดยสารรวม 2220.68 บาท
ค่าโดยสารรวม 1.54 บาท

จุดรับผู้โดยสารจุดที่ 73 มีจำนวน rides ของ yellow taxi เท่ากับ 35 ครั้ง
ค่าโดยสารรวม 551.04 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 74 มีจำนวน rides ของ yellow taxi เท่ากับ 32166 ครั้ง
ค่าโดยสารรวม 401776.14 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 75 มีจำนวน rides ของ yellow taxi เท่ากับ 62592 ครั้ง
ค่าโดยสารรวม 790270.02 บาท
ค่าโดยสารรวม 1.59 บาท

จุดรับผู้โดยสารจุดที่ 76 มีจำนวน rides ของ yellow taxi เท่ากับ 250 ครั้ง
ค่าโดยสารรวม 7197.48 บาท
ค่าโดยสารรวม 1.38 บาท

จุดรับผู้โดยสารจุดที่ 77 มีจำนวน rides ของ yellow taxi เท่ากับ 93 ครั้ง
ค่าโดยสารรวม 2069.85 บาท
ค่าโดยสารรวม 1.52 บาท

จุดรับผู้โดยสารจุดที่ 78 มีจำนวน rides ของ yellow taxi เท่ากับ 125 ครั้ง
ค่าโดยสารรวม 2118.24 บาท
ค่าโดยสารรวม 1.68 บาท

จุดรับผู้โดยสารจุดที่ 79 มีจำนวน rides ของ yellow taxi เท่ากับ 303600 ครั้ง
ค่าโดยสารรวม 4226206.24 บาท
ค่าโดยสารรวม 1.66 บาท

จุดรับผู้โดยสารจุดที่ 80 มีจำนวน rides ของ yellow taxi เท่ากับ 5727 ครั้ง
ค่าโดยสารรวม 88113.33 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 81 มีจำนวน rides ของ yellow taxi เท่ากับ 21 ครั้ง
ค่าโดยสารรวม 503.78 บาท
ค่าโดยสารรวม 1.38 บาท

จุดรับผู้โดยสารจุดที่ 82 มีจำนวน rides ของ yellow taxi เท่ากับ 2979 ครั้ง
ค่าโดยสารรวม 50901.99 บาท
ค่าโดยสารรวม 1.64 บาท

จุดรับผู้โดยสารจุดที่ 83 มีจำนวน rides ของ yellow taxi เท่ากับ 1321 ครั้ง
ค่าโดยสารรวม 20796.0 บาท
ค่าโดยสารรวม 1.68 บาท

จุดรับผู้โดยสารจุดที่ 84 มีจำนวน rides ของ yellow taxi เท่ากับ 3 ครั้ง
ค่าโดยสารรวม 216.4 บาท
ค่าโดยสารรวม 1.0 บาท

จุดรับผู้โดยสารจุดที่ 85 มีจำนวน rides ของ yellow taxi เท่ากับ 268 ครั้ง
ค่าโดยสารรวม 4760.39 บาท
ค่าโดยสารรวม 1.43 บาท

จุดรับผู้โดยสารจุดที่ 86 มีจำนวน rides ของ yellow taxi เท่ากับ 15 ครั้ง
ค่าโดยสารรวม 374.69 บาท
ค่าโดยสารรวม 1.6 บาท

จุดรับผู้โดยสารจุดที่ 87 มีจำนวน rides ของ yellow taxi เท่ากับ 70775 ครั้ง
ค่าโดยสารรวม 1414263.97 บาท
ค่าโดยสารรวม 1.62 บาท

จุดรับผู้โดยสารจุดที่ 88 มีจำนวน rides ของ yellow taxi เท่ากับ 36802 ครั้ง
ค่าโดยสารรวม 767260.71 บาท
ค่าโดยสารรวม 1.62 บาท

จุดรับผู้โดยสารจุดที่ 89 มีจำนวน rides ของ yellow taxi เท่ากับ 920 ครั้ง
ค่าโดยสารรวม 16478.41 บาท
ค่าโดยสารรวม 1.57 บาท

จุดรับผู้โดยสารจุดที่ 90 มีจำนวน rides ของ yellow taxi เท่ากับ 184626 ครั้ง
ค่าโดยสารรวม 2353495.9 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 91 มีจำนวน rides ของ yellow taxi เท่ากับ 148 ครั้ง
ค่าโดยสารรวม 3833.45 บาท
ค่าโดยสารรวม 1.45 บาท

จุดรับผู้โดยสารจุดที่ 92 มีจำนวน rides ของ yellow taxi เท่ากับ 458 ครั้ง
ค่าโดยสารรวม 9174.19 บาท
ค่าโดยสารรวม 1.52 บาท

จุดรับผู้โดยสารจุดที่ 93 มีจำนวน rides ของ yellow taxi เท่ากับ 1117 ครั้ง
ค่าโดยสารรวม 58573.21 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 94 มีจำนวน rides ของ yellow taxi เท่ากับ 79 ครั้ง
ค่าโดยสารรวม 1601.88 บาท
ค่าโดยสารรวม 1.72 บาท

จุดรับผู้โดยสารจุดที่ 95 มีจำนวน rides ของ yellow taxi เท่ากับ 1527 ครั้ง
ค่าโดยสารรวม 30381.49 บาท
ค่าโดยสารรวม 1.57 บาท

จุดรับผู้โดยสารจุดที่ 96 มีจำนวน rides ของ yellow taxi เท่ากับ 25 ครั้ง
ค่าโดยสารรวม 714.73 บาท
ค่าโดยสารรวม 2.28 บาท

จุดรับผู้โดยสารจุดที่ 97 มีจำนวน rides ของ yellow taxi เท่ากับ 8622 ครั้ง
ค่าโดยสารรวม 130172.89 บาท
ค่าโดยสารรวม 1.6 บาท

จุดรับผู้โดยสารจุดที่ 98 มีจำนวน rides ของ yellow taxi เท่ากับ 51 ครั้ง
ค่าโดยสารรวม 1077.54 บาท
ค่าโดยสารรวม 1.69 บาท

จุดรับผู้โดยสารจุดที่ 99 มีจำนวน rides ของ yellow taxi เท่ากับ 0 ครั้ง
ค่าโดยสารรวม Not Float
ค่าโดยสารรวม Not Float

จุดรับผู้โดยสารจุดที่ 100 มีจำนวน rides ของ yellow taxi เท่ากับ 192103 ครั้ง
ค่าโดยสารรวม 2596307.08 บาท
ค่าโดยสารรวม 1.6 บาท

จุดรับผู้โดยสารจุดที่ 101 มีจำนวน rides ของ yellow taxi เท่ากับ 32 ครั้ง
ค่าโดยสารรวม 970.29 บาท
ค่าโดยสารรวม 1.41 บาท

จุดรับผู้โดยสารจุดที่ 102 มีจำนวน rides ของ yellow taxi เท่ากับ 68 ครั้ง
ค่าโดยสารรวม 1545.64 บาท
ค่าโดยสารรวม 1.53 บาท

จุดรับผู้โดยสารจุดที่ 103 มีจำนวน rides ของ yellow taxi เท่ากับ 0 ครั้ง
ค่าโดยสารรวม Not Float
ค่าโดยสารรวม Not Float

จุดรับผู้โดยสารจุดที่ 104 มีจำนวน rides ของ yellow taxi เท่ากับ 0 ครั้ง
ค่าโดยสารรวม Not Float
ค่าโดยสารรวม Not Float

จุดรับผู้โดยสารจุดที่ 105 มีจำนวน rides ของ yellow taxi เท่ากับ 4 ครั้ง
ค่าโดยสารรวม 94.75 บาท
ค่าโดยสารรวม 2.75 บาท

จุดรับผู้โดยสารจุดที่ 106 มีจำนวน rides ของ yellow taxi เท่ากับ 1803 ครั้ง
ค่าโดยสารรวม 28389.24 บาท
ค่าโดยสารรวม 1.48 บาท

จุดรับผู้โดยสารจุดที่ 107 มีจำนวน rides ของ yellow taxi เท่ากับ 238708 ครั้ง
ค่าโดยสารรวม 3127727.94 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 108 มีจำนวน rides ของ yellow taxi เท่ากับ 138 ครั้ง
ค่าโดยสารรวม 2491.94 บาท
ค่าโดยสารรวม 2.24 บาท

จุดรับผู้โดยสารจุดที่ 109 มีจำนวน rides ของ yellow taxi เท่ากับ 2 ครั้ง
ค่าโดยสารรวม 14.6 บาท
ค่าโดยสารรวม 1.5 บาท

จุดรับผู้โดยสารจุดที่ 110 มีจำนวน rides ของ yellow taxi เท่ากับ 1 ครั้ง
ค่าโดยสารรวม 6.8 บาท
ค่าโดยสารรวม 2.0 บาท

จุดรับผู้โดยสารจุดที่ 111 มีจำนวน rides ของ yellow taxi เท่ากับ 16 ครั้ง
ค่าโดยสารรวม 230.19 บาท
ค่าโดยสารรวม 1.38 บาท

จุดรับผู้โดยสารจุดที่ 112 มีจำนวน rides ของ yellow taxi เท่ากับ 5475 ครั้ง
ค่าโดยสารรวม 84556.29 บาท
ค่าโดยสารรวม 1.55 บาท

จุดรับผู้โดยสารจุดที่ 113 มีจำนวน rides ของ yellow taxi เท่ากับ 167768 ครั้ง
ค่าโดยสารรวม 2178950.81 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 114 มีจำนวน rides ของ yellow taxi เท่ากับ 138697 ครั้ง
ค่าโดยสารรวม 1924494.35 บาท
ค่าโดยสารรวม 1.67 บาท

จุดรับผู้โดยสารจุดที่ 115 มีจำนวน rides ของ yellow taxi เท่ากับ 188 ครั้ง
ค่าโดยสารรวม 2998.83 บาท
ค่าโดยสารรวม 4.91 บาท

จุดรับผู้โดยสารจุดที่ 116 มีจำนวน rides ของ yellow taxi เท่ากับ 11056 ครั้ง
ค่าโดยสารรวม 172602.45 บาท
ค่าโดยสารรวม 1.62 บาท

จุดรับผู้โดยสารจุดที่ 117 มีจำนวน rides ของ yellow taxi เท่ากับ 16 ครั้ง
ค่าโดยสารรวม 962.58 บาท
ค่าโดยสารรวม 1.81 บาท

จุดรับผู้โดยสารจุดที่ 118 มีจำนวน rides ของ yellow taxi เท่ากับ 2 ครั้ง
ค่าโดยสารรวม 103.15 บาท
ค่าโดยสารรวม 2.5 บาท

จุดรับผู้โดยสารจุดที่ 119 มีจำนวน rides ของ yellow taxi เท่ากับ 280 ครั้ง
ค่าโดยสารรวม 4300.57 บาท
ค่าโดยสารรวม 1.57 บาท

จุดรับผู้โดยสารจุดที่ 120 มีจำนวน rides ของ yellow taxi เท่ากับ 48 ครั้ง
ค่าโดยสารรวม 1663.16 บาท
ค่าโดยสารรวม 2.0 บาท

จุดรับผู้โดยสารจุดที่ 121 มีจำนวน rides ของ yellow taxi เท่ากับ 69 ครั้ง
ค่าโดยสารรวม 1949.87 บาท
ค่าโดยสารรวม 1.41 บาท

จุดรับผู้โดยสารจุดที่ 122 มีจำนวน rides ของ yellow taxi เท่ากับ 16 ครั้ง
ค่าโดยสารรวม 559.91 บาท
ค่าโดยสารรวม 1.44 บาท

จุดรับผู้โดยสารจุดที่ 123 มีจำนวน rides ของ yellow taxi เท่ากับ 166 ครั้ง
ค่าโดยสารรวม 3392.98 บาท
ค่าโดยสารรวม 2.02 บาท

จุดรับผู้โดยสารจุดที่ 124 มีจำนวน rides ของ yellow taxi เท่ากับ 67 ครั้ง
ค่าโดยสารรวม 3043.31 บาท
ค่าโดยสารรวม 1.51 บาท

จุดรับผู้โดยสารจุดที่ 125 มีจำนวน rides ของ yellow taxi เท่ากับ 56621 ครั้ง
ค่าโดยสารรวม 827278.27 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 126 มีจำนวน rides ของ yellow taxi เท่ากับ 114 ครั้ง
ค่าโดยสารรวม 1917.64 บาท
ค่าโดยสารรวม 1.39 บาท

จุดรับผู้โดยสารจุดที่ 127 มีจำนวน rides ของ yellow taxi เท่ากับ 959 ครั้ง
ค่าโดยสารรวม 18272.74 บาท
ค่าโดยสารรวม 1.64 บาท

จุดรับผู้โดยสารจุดที่ 128 มีจำนวน rides ของ yellow taxi เท่ากับ 52 ครั้ง
ค่าโดยสารรวม 981.85 บาท
ค่าโดยสารรวม 1.6 บาท

จุดรับผู้โดยสารจุดที่ 129 มีจำนวน rides ของ yellow taxi เท่ากับ 5713 ครั้ง
ค่าโดยสารรวม 84766.04 บาท
ค่าโดยสารรวม 1.67 บาท

จุดรับผู้โดยสารจุดที่ 130 มีจำนวน rides ของ yellow taxi เท่ากับ 724 ครั้ง
ค่าโดยสารรวม 37916.29 บาท
ค่าโดยสารรวม 1.69 บาท

จุดรับผู้โดยสารจุดที่ 131 มีจำนวน rides ของ yellow taxi เท่ากับ 68 ครั้ง
ค่าโดยสารรวม 1694.12 บาท
ค่าโดยสารรวม 1.41 บาท

จุดรับผู้โดยสารจุดที่ 132 มีจำนวน rides ของ yellow taxi เท่ากับ 227171 ครั้ง
ค่าโดยสารรวม 12660835.9 บาท
ค่าโดยสารรวม 1.68 บาท

จุดรับผู้โดยสารจุดที่ 133 มีจำนวน rides ของ yellow taxi เท่ากับ 512 ครั้ง
ค่าโดยสารรวม 8835.5 บาท
ค่าโดยสารรวม 1.66 บาท

จุดรับผู้โดยสารจุดที่ 134 มีจำนวน rides ของ yellow taxi เท่ากับ 421 ครั้ง
ค่าโดยสารรวม 11376.87 บาท
ค่าโดยสารรวม 1.52 บาท

จุดรับผู้โดยสารจุดที่ 135 มีจำนวน rides ของ yellow taxi เท่ากับ 195 ครั้ง
ค่าโดยสารรวม 3807.91 บาท
ค่าโดยสารรวม 1.82 บาท

จุดรับผู้โดยสารจุดที่ 136 มีจำนวน rides ของ yellow taxi เท่ากับ 124 ครั้ง
ค่าโดยสารรวม 2054.3 บาท
ค่าโดยสารรวม 1.65 บาท

จุดรับผู้โดยสารจุดที่ 137 มีจำนวน rides ของ yellow taxi เท่ากับ 126692 ครั้ง
ค่าโดยสารรวม 1661158.07 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 138 มีจำนวน rides ของ yellow taxi เท่ากับ 212196 ครั้ง
ค่าโดยสารรวม 8966861.41 บาท
ค่าโดยสารรวม 1.65 บาท

จุดรับผู้โดยสารจุดที่ 139 มีจำนวน rides ของ yellow taxi เท่ากับ 19 ครั้ง
ค่าโดยสารรวม 890.97 บาท
ค่าโดยสารรวม 1.37 บาท

จุดรับผู้โดยสารจุดที่ 140 มีจำนวน rides ของ yellow taxi เท่ากับ 170215 ครั้ง
ค่าโดยสารรวม 2325446.93 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 141 มีจำนวน rides ของ yellow taxi เท่ากับ 226753 ครั้ง
ค่าโดยสารรวม 2708975.95 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 142 มีจำนวน rides ของ yellow taxi เท่ากับ 277244 ครั้ง
ค่าโดยสารรวม 3527054.07 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 143 มีจำนวน rides ของ yellow taxi เท่ากับ 103955 ครั้ง
ค่าโดยสารรวม 1306302.63 บาท
ค่าโดยสารรวม 1.62 บาท

จุดรับผู้โดยสารจุดที่ 144 มีจำนวน rides ของ yellow taxi เท่ากับ 109872 ครั้ง
ค่าโดยสารรวม 1573874.41 บาท
ค่าโดยสารรวม 1.67 บาท

จุดรับผู้โดยสารจุดที่ 145 มีจำนวน rides ของ yellow taxi เท่ากับ 9284 ครั้ง
ค่าโดยสารรวม 178470.69 บาท
ค่าโดยสารรวม 1.49 บาท

จุดรับผู้โดยสารจุดที่ 146 มีจำนวน rides ของ yellow taxi เท่ากับ 10349 ครั้ง
ค่าโดยสารรวม 152836.09 บาท
ค่าโดยสารรวม 1.56 บาท

จุดรับผู้โดยสารจุดที่ 147 มีจำนวน rides ของ yellow taxi เท่ากับ 102 ครั้ง
ค่าโดยสารรวม 2083.99 บาท
ค่าโดยสารรวม 1.58 บาท

จุดรับผู้โดยสารจุดที่ 148 มีจำนวน rides ของ yellow taxi เท่ากับ 144858 ครั้ง
ค่าโดยสารรวม 2224654.37 บาท
ค่าโดยสารรวม 1.66 บาท

จุดรับผู้โดยสารจุดที่ 149 มีจำนวน rides ของ yellow taxi เท่ากับ 52 ครั้ง
ค่าโดยสารรวม 1776.87 บาท
ค่าโดยสารรวม 1.21 บาท

จุดรับผู้โดยสารจุดที่ 150 มีจำนวน rides ของ yellow taxi เท่ากับ 34 ครั้ง
ค่าโดยสารรวม 1467.77 บาท
ค่าโดยสารรวม 1.59 บาท

จุดรับผู้โดยสารจุดที่ 151 มีจำนวน rides ของ yellow taxi เท่ากับ 83945 ครั้ง
ค่าโดยสารรวม 1081984.64 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 152 มีจำนวน rides ของ yellow taxi เท่ากับ 8830 ครั้ง
ค่าโดยสารรวม 124751.87 บาท
ค่าโดยสารรวม 1.65 บาท

จุดรับผู้โดยสารจุดที่ 153 มีจำนวน rides ของ yellow taxi เท่ากับ 78 ครั้ง
ค่าโดยสารรวม 1092.37 บาท
ค่าโดยสารรวม 1.53 บาท

จุดรับผู้โดยสารจุดที่ 154 มีจำนวน rides ของ yellow taxi เท่ากับ 21 ครั้ง
ค่าโดยสารรวม 1367.96 บาท
ค่าโดยสารรวม 1.29 บาท

จุดรับผู้โดยสารจุดที่ 155 มีจำนวน rides ของ yellow taxi เท่ากับ 62 ครั้ง
ค่าโดยสารรวม 2705.21 บาท
ค่าโดยสารรวม 1.69 บาท

จุดรับผู้โดยสารจุดที่ 156 มีจำนวน rides ของ yellow taxi เท่ากับ 9 ครั้ง
ค่าโดยสารรวม 1349.38 บาท
ค่าโดยสารรวม 1.44 บาท

จุดรับผู้โดยสารจุดที่ 157 มีจำนวน rides ของ yellow taxi เท่ากับ 481 ครั้ง
ค่าโดยสารรวม 16192.67 บาท
ค่าโดยสารรวม 1.65 บาท

จุดรับผู้โดยสารจุดที่ 158 มีจำนวน rides ของ yellow taxi เท่ากับ 108797 ครั้ง
ค่าโดยสารรวม 1574902.23 บาท
ค่าโดยสารรวม 1.66 บาท

จุดรับผู้โดยสารจุดที่ 159 มีจำนวน rides ของ yellow taxi เท่ากับ 501 ครั้ง
ค่าโดยสารรวม 7259.19 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 160 มีจำนวน rides ของ yellow taxi เท่ากับ 164 ครั้ง
ค่าโดยสารรวม 3979.58 บาท
ค่าโดยสารรวม 1.54 บาท

จุดรับผู้โดยสารจุดที่ 161 มีจำนวน rides ของ yellow taxi เท่ากับ 361036 ครั้ง
ค่าโดยสารรวม 5061992.72 บาท
ค่าโดยสารรวม 1.63 บาท

จุดรับผู้โดยสารจุดที่ 162 มีจำนวน rides ของ yellow taxi เท่ากับ 330969 ครั้ง
ค่าโดยสารรวม 4740598.36 บาท
ค่าโดยสารรวม 1.61 บาท

จุดรับผู้โดยสารจุดที่ 163 มีจำนวน rides ของ yellow taxi เท่ากับ 250973 ครั้ง
ค่าโดยสารรวม 3533381.98 บาท
ค่าโดยสารรวม 1.64 บาท

จุดรับผู้โดยสารจุดที่ 164 มีจำนวน rides ของ yellow taxi เท่ากับ 227779 ครั้ง
ค่าโดยสารรวม 3200852.44 บาท

In [92]:
import boto3

s3 = boto3.client('s3')

def cal_rides_each_month(month):
    sum = 0
    for type in range(1,6):
        resp = s3.select_object_content(
            Bucket='nyctlc-cs653-5181',
            Key=f'yellow_tripdata_2017-0{month}.parquet',
            ExpressionType='SQL',
            Expression=f"SELECT COUNT(payment_type) FROM s3object s WHERE payment_type={ type }",
            InputSerialization={'Parquet': {}},
            OutputSerialization = {'CSV': {}},
        )
        for event in resp['Payload']:
            if 'Records' in event:
                records = event['Records']['Payload'].decode('utf-8')
                
                records = int(records)
                sum = sum + records
                if type==1:
                    type1.append(records)
                elif type==2:
                    type2.append(records)
                elif type==3:
                    type3.append(records)
                elif type==4:
                    type4.append(records)
                else:
                    type5.append(records)

                print(f"จำนวน yellow taxi rides เดือน {month} ที่มี payment_type={type} เท่ากับ {records}")
    sum_rides.append(sum)
    print(f"rides เดือน {month} มี yellow taxi rides รวมทั้งสิ้น {sum} เที่ยว")
    print()

In [93]:
for month in range (1,6):
    cal_rides_each_month(month)

จำนวน yellow taxi rides เดือน 1 ที่มี payment_type=1 เท่ากับ 6506189
จำนวน yellow taxi rides เดือน 1 ที่มี payment_type=2 เท่ากับ 3144926
จำนวน yellow taxi rides เดือน 1 ที่มี payment_type=3 เท่ากับ 46257
จำนวน yellow taxi rides เดือน 1 ที่มี payment_type=4 เท่ากับ 13447
จำนวน yellow taxi rides เดือน 1 ที่มี payment_type=5 เท่ากับ 1
rides เดือน 1 มี yellow taxi rides รวมทั้งสิ้น 9710820 เที่ยว

จำนวน yellow taxi rides เดือน 2 ที่มี payment_type=1 เท่ากับ 6261976
จำนวน yellow taxi rides เดือน 2 ที่มี payment_type=2 เท่ากับ 2849713
จำนวน yellow taxi rides เดือน 2 ที่มี payment_type=3 เท่ากับ 44719
จำนวน yellow taxi rides เดือน 2 ที่มี payment_type=4 เท่ากับ 13367
จำนวน yellow taxi rides เดือน 2 ที่มี payment_type=5 เท่ากับ 0
rides เดือน 2 มี yellow taxi rides รวมทั้งสิ้น 9169775 เที่ยว

จำนวน yellow taxi rides เดือน 3 ที่มี payment_type=1 เท่ากับ 6994699
จำนวน yellow taxi rides เดือน 3 ที่มี payment_type=2 เท่ากับ 3231928
จำนวน yellow taxi rides เดือน 3 ที่มี payment_type=3 เท่ากับ 53815
จำนวน yellow taxi rides เดือน 3 ที่มี payment_type=4 เท่ากับ 14999
จำนวน yellow taxi rides เดือน 3 ที่มี payment_type=5 เท่ากับ 0
rides เดือน 3 มี yellow taxi rides รวมทั้งสิ้น 10295441 เที่ยว

จำนวน yellow taxi rides เดือน 4 ที่มี payment_type=1 เท่ากับ 6695495
จำนวน yellow taxi rides เดือน 4 ที่มี payment_type=2 เท่ากับ 3281576
จำนวน yellow taxi rides เดือน 4 ที่มี payment_type=3 เท่ากับ 54383
จำนวน yellow taxi rides เดือน 4 ที่มี payment_type=4 เท่ากับ 15680
จำนวน yellow taxi rides เดือน 4 ที่มี payment_type=5 เท่ากับ 1
rides เดือน 4 มี yellow taxi rides รวมทั้งสิ้น 10047135 เที่ยว

จำนวน yellow taxi rides เดือน 5 ที่มี payment_type=1 เท่ากับ 6780947
จำนวน yellow taxi rides เดือน 5 ที่มี payment_type=2 เท่ากับ 3250362
จำนวน yellow taxi rides เดือน 5 ที่มี payment_type=3 เท่ากับ 55027
จำนวน yellow taxi rides เดือน 5 ที่มี payment_type=4 เท่ากับ 15791
จำนวน yellow taxi rides เดือน 5 ที่มี payment_type=5 เท่ากับ 0
rides เดือน 5 มี yellow taxi rides รวมทั้งสิ้น 10102127 เที่ยว

In [94]:
#ความยาว list ต้องเท่ากันเพื่อสร้าง dataFrame
print(len(type1))
print(len(type2))
print(len(type3))
print(len(type4))
print(len(type5))
print(len(sum_rides))

5
5
5
5
5
5

In [95]:
data = {
    "month": ['Jan', 'Feb', 'Mar', 'April', 'May'],
    'payment type 1': type1,
    'payment type 2': type2,
    'payment type 3': type3,
    'payment type 4': type4,
    'payment type 5': type5,
    'sum': sum_rides
} 
hw_item3 = pd.DataFrame(data)
hw_item3

,month,payment type 1,payment type 2,payment type 3,payment type 4,payment type 5,sum
0,Jan,6506189,3144926,46257,13447,1,9710820
1,Feb,6261976,2849713,44719,13367,0,9169775
2,Mar,6994699,3231928,53815,14999,0,10295441
3,April,6695495,3281576,54383,15680,1,10047135
4,May,6780947,3250362,55027,15791,0,10102127

In [96]:
def cal_total_fare(id):
    resp = s3.select_object_content(
        Bucket = 'nyctlc-cs653-5181',
        Key = 'yellow_tripdata_2017-01.parquet',
        Expression = f'SELECT SUM(total_amount) FROM s3object s WHERE PULocation={id}',
        ExpressionType='SQL',  
        InputSerialization={'Parquet':{}},
        OutputSerialization={'CSV':{}},
    )
    for event in resp['Payload']:
        if 'Records' in event:
            records = event['Records']['Payload'].decode('utf-8')
            try:
                return float(records)
            except:
                return None

In [97]:
def cal_avg_passenger_count(id):
        resp = s3.select_object_content(
            Bucket='nyctlc-cs653-5181',
            Key='yellow_tripdata_2017-01.parquet',
            ExpressionType='SQL',
            Expression=f"SELECT COUNT(passenger_count) FROM s3object s WHERE PULocationID={id}",
            InputSerialization={'Parquet': {}},
            OutputSerialization={'CSV': {}},
        )
        for event in resp['Payload']:
            if 'Records' in event:
                records = event['Records']['Payload'].decode('utf-8')
            try:
                isinstance(float(records), float)
                return float(records)
            except:
                return None

In [98]:
pickUpLocationID = []
total_fare_list = []
avg_passenger_list = []

In [99]:
for event in resp['Payload']:
    if 'Records' in event:
        records = event['Records']['Payload'].decode('utf-8')
        pickUpLocationId.append(i)
        print(f"จุดรับผู้โดยสารจุดที่ {i} มีจำนวน rides ของ yellow taxi เท่ากับ {int(records)} ครั้ง")
        total_fare = float("{:.2f}".format(total_fare))
        total_fare_list.append(total_fare)
        print("ค่าโดยสารรวม", total_fare)
        avg_passenger = cal_avg_passenger_count(i)
        if isinstance(avg_passenger, float):
            avg_passenger = float("{:.2f}".format(avg_passenger))
            avg_passenger_list.append(avg_passenger)
            print(f"ค่าโดยสารรวม {avg_passenger} บาท")
        else:
            avg_passenger = 0.0
            avg_passenger_fare_list.append(total_fare)
            print("ค่าโดยสารรวม Not float")
        if isinstance(avg_passenger, float):
            avg_passenger = float("{:.2f}".format(avg_passenger))
            avg_passenger_list.append(avg_passenger)
            print(f"ค่าโดยสารรวม {avg_passenger} บาท")
        else:
            avg_passenger = 0.0
            avg_passenger_fare_list.append(total_fare)
            print("ค่าโดยสารรวม Not float")

In [100]:
import boto3

s3 = boto3.client('s3')

def cal_ride_each_month(month):
    sum = 0
    type1 = []
    type2 = []
    type3 = []
    type4 = []
    type5 = []
    sum_ride = []

    for type in range(1, 6):
        resp = s3.select_object_content(
            Bucket='nyctlc-cs653-5108',
            Key=f'yellow_tripdata_2017-0{month}.parquet',
            ExpressionType='SQL',
            Expression=f"SELECT COUNT(payment_type) FROM s3object s WHERE payment_type = {type}",
            InputSerialization={'Parquet': {}},
            OutputSerialization={'CSV': {}},
        )

        for event in resp['Payload']:
            if 'Records' in event:
                record = event['Records']['Payload'].decode('utf-8')
                records = int(record)
                sum = sum + records
                if type == 1:
                    type1.append(records)
                elif type == 2:
                    type2.append(records)
                elif type == 3:
                    type3.append(records)
                elif type == 4:
                    type4.append(records)
                else:
                    type5.append(records)

                print(f"จำนวน yellow taxi ride เดือน {month} ที่มี payment_type={type} เท่ากับ {records}")

        sum_ride.append(sum)
        print(f"rides เดือน {month} มี yellow taxi rides รวมทั้งสิ้น {sum} เที่ยว")
        print()

In [101]:
#ความยาว list ต้องเท่ากันเพื่อสร้าง dataFrame
print(len(type1))
print(len(type2))
print(len(type3))
print(len(type4))
print(len(type5))
print(len(sum_rides))

5
5
5
5
5
5

In [102]:
data = {
    "month": ['Jan', 'Feb', 'Mar', 'April', 'May'],
    'payment type 1': type1,
    'payment type 2': type2,
    'payment type 3': type3,
    'payment type 4': type4,
    'payment type 5': type5,
    'sum': sum_rides
} 
hw_item3 = pd.DataFrame(data)
hw_item3

,month,payment type 1,payment type 2,payment type 3,payment type 4,payment type 5,sum
0,Jan,6506189,3144926,46257,13447,1,9710820
1,Feb,6261976,2849713,44719,13367,0,9169775
2,Mar,6994699,3231928,53815,14999,0,10295441
3,April,6695495,3281576,54383,15680,1,10047135
4,May,6780947,3250362,55027,15791,0,10102127

In [103]:
import pandas as pd

pickUpLocation = ['A', 'B', 'C']
total_fare_list = [50, 70, 100]
avg_passenger_list = [1.5, 2, 2.5]

data = {'จุดรับผู้โดยสารที่': pickUpLocation,
        'ค่าโดยสารรวม': total_fare_list,
        'จำนวนผู้โดยสารเฉลี่ยต่อรอบ': avg_passenger_list}

hw_item2 = pd.DataFrame(data)
hw_item2

  จุดรับผู้โดยสารที่  ค่าโดยสารรวม  จำนวนผู้โดยสารเฉลี่ยต่อรอบ
0                  A            50                         1.5
1                  B            70                         2.0
2                  C           100                         2.5

In [104]:
import boto3

s3 = boto3.client('s3')

def cal_rides_each_month(month):
    total = 0
    for type in range(1, 6):
        resp = s3.select_object_content(
            Bucket='nyctlc-cs653-5181',
            Key=f'yellow_tripdata_2017-0{month}.parquet',
            Expression=f"SELECT COUNT(payment_type) FROM s3object s WHERE payment_type={type}",
            InputSerialization={'Parquet': {}},
            OutputSerialization={'CSV': {}},
        )
        for event in resp['Payload']:
            if 'Records' in event:
                records = event['Records']['Payload'].decode('utf-8')
             
        try:
            isinstance(float(records),float)
        except:
                return None

In [105]:
type1 = [6506189, 6261976, 6994699, 6994699, 6780947]  # กำหนดค่าของ type1 โดยใช้ list
type2 = [3144926, 2849713, 3231928, 3281576, 3250362]    # กำหนดค่าของ type2 โดยใช้ list
type3 = [3250362,  44719, 53815, 54383, 55027]   # กำหนดค่าของ type3 โดยใช้ list
type4 = [13447, 13367, 14999, 15680, 15791] # กำหนดค่าของ type4 โดยใช้ list
type5 = [1, 0, 0, 1, 0]      # กำหนดค่าของ type5 โดยใช้ list
sum_rides = [sum(x) for x in zip(type1, type2, type3, type4, type5)] # หาผลรวมของการเดินทางทุกประเภทในแต่ละเดือน
data={
    'month':['Jan','Feb','Mar','Apr','May'],
    'payment type 1': type1,  # นำตัวแปร type1 มาใช้ใน dict
    'payment type 2': type2,  # นำตัวแปร type2 มาใช้ใน dict
    'payment type 3': type3,  # นำตัวแปร type3 มาใช้ใน dict
    'payment type 4': type4,  # นำตัวแปร type4 มาใช้ใน dict
    'payment type 5': type5,  # นำตัวแปร type5 มาใช้ใน dict
    'sum':sum_rides
}
hw_item3 = pd.DataFrame(data)
hw_item3

,month,payment type 1,payment type 2,payment type 3,payment type 4,payment type 5,sum
0,Jan,6506189,3144926,3250362,13447,1,12914925
1,Feb,6261976,2849713,44719,13367,0,9169775
2,Mar,6994699,3231928,53815,14999,0,10295441
3,Apr,6994699,3281576,54383,15680,1,10346339
4,May,6780947,3250362,55027,15791,0,10102127

In [106]:
import pandas as pd

# กำหนดค่าตัวแปร
pickPULocationID = [123, 456, 789]
total_fare_list = [10, 20, 30]
avg_passenger_list = [1.5, 2.0, 1.8]

# สร้าง dictionary ของข้อมูล
data = {
    'จุดรับผู้โดยสารที่': pickPULocationID,
    'ค่าโดยสารรวม': total_fare_list,
    'จำนวนผู้โดยสารเฉลี่ยต่อรอบ': avg_passenger_list
}

# สร้าง DataFrame จาก dictionary
hw_item2 = pd.DataFrame(data)

# แสดงผลลัพธ์
print(hw_item2)

   จุดรับผู้โดยสารที่  ค่าโดยสารรวม  จำนวนผู้โดยสารเฉลี่ยต่อรอบ
0                 123            10                         1.5
1                 456            20                         2.0
2                 789            30                         1.8